
<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :nickname, "ニックネーム" %>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワードの確認" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :first_name, "姓" %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name, "名" %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "姓（カナ）" %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, "名（カナ）" %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日" %>
    <%= f.date_select :birthday, start_year: 1900 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
