<%# app/views/users/index.html.erb %>

<%# app/views/users/index.html.erb %>

<h1>Users List</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Email</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Last Name Kana</th>
      <th>First Name Kana</th>
      <th>Birthday</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name_kana %></td>
        <td><%= user.first_name_kana %></td>
        <td><%= user.birthday.strftime('%Y-%m-%d') if user.birthday %></td>
      </tr>
    <% end %>
  </tbody>
</table>
